/*============== 1.CLARIFICATIONS =================
A. INDEX
    1.CLARIFICATIONS
    2.META
    3.GLOBAL RULES FOR TYPOGRAPHY
    4.RULES SHARED ACROSS SECTIONS
        4.1.NAVIGATION BAR
        4.2.BODY
    5.RULES SPECIFIC FOR EACH SECTION
        5.1.HOME
        5.2.WORK
        5.3.ABOUT
        5.4.LEARN MORE
        5.5.CONTACT
        5.6.FOOTER

B. centered80percent class
    The class called ".centered80percent" was created
    to keep all elements inside the boundaries
    of the central 80% of the page.
==========================================================*/


/*======================== 2.META ========================*/
* { box-sizing: border-box; }
/* { border: 1px solid red; }*/


/*============ 3.GLOBAL RULES FOR TYPOGRAPHY =============*/
* {font-family: Questrial, Futura, Helvetica, Arial, Sans-Serif;}

/*============ 4.RULES SHARED ACROSS SECTIONS ============*/
/*======== 4.1.NAVIGATION BAR ========*/

.project {
  text-transform: uppercase;
}

.project a {
  color:white;
}

.navbar-right {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  /* transition: color 600ms; */
}

.navbar-right a:hover {
  color: #ff0;
  text-decoration: none;
  transition: color 400ms;
}

.navbar-toggle {
  margin-right: 0;
}

.navbar-brand {
  padding-left: 0;
}

.navbar-brand a:hover {
  color: cyan;
  text-decoration: none;
  transition: color 400ms;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #222222;
  outline: 0;
}

/*============ 4.2.BODY ==============*/

/*
html {
  height: 100%; /* we need this for google maps
  margin: 0; /* we need this for google maps
  padding: 0; /* we need this for google maps
}
*/

body {
  height: 100%; /* we need this for google maps */
  margin: 0; /* we need this for google maps*/
  /*padding: 0; /* we need this for google maps*/
  position:relative;
  background-color: #fff;
  color: #34495e;
  padding-top: 50px;
}

header h1 {
  text-align: center;
  margin-bottom: 5%;
}

.anchor {
  padding-top: 50px;
}

.centered80percent {
  width: 80%;
  margin: 0 auto;
}

.column {
  display: inline-block;
  float: left;
  padding-right:4%;
}

.col-md-4 {
  padding-left: 0;
}

.col-md-4 h2 {
  text-align: center;
}

.col-md-4 p {
  text-align: center;
}

.col-md-4 a {
  text-align: center;
}

.btn {
  background-color:
}

@media (min-width: 3841px) {
  p {
    font-size:130%;
  }

  #skill-list li {
    font-size:130%;
  }

  .panel-title {
    font-size:130%;
  }

  .panel-body {
    font-size:130%;
  }

  .address p {
    font-size:130%;
  }
}

@media (max-width: 3840px) {
  p {
    font-size:120%;
  }

  #skill-list li {
    font-size:120%;
  }

  .panel-title {
    font-size:120%;
  }

  .panel-body {
    font-size:120%;
  }

  .address p {
    font-size:120%;
  }
}

@media (max-width: 1920px) {
  p {
    font-size:105%;
  }

  #skill-list li {
    font-size:105%;
  }

  .panel-title {
    font-size:105%;
  }

  .panel-body {
    font-size:105%;
  }

  .address p {
    font-size:105%;
  }
}

@media (max-width: 1280px) {
  p {
    font-size:110%;
  }

  #skill-list li {
    font-size:110%;
  }

  .panel-title {
    font-size:110%;
  }

  .panel-body {
    font-size:110%;
  }

  .address p {
    font-size:110%;
  }
}

@media (max-width: 700px) {
  p {
    font-size:115%;
  }

  #skill-list li {
    font-size:115%;
  }

  .panel-title {
    font-size:115%;
  }

  .panel-body {
    font-size:115%;
  }

  .address p {
    font-size:115%;
  }
}

/*========== 5.RULES SPECIFIC FOR EACH SECTION ===========*/
/*============ 5.1.HOME ==============*/
.container {
  width:100%;
  padding-right: 0;
  padding-left: 0;
}

/* Removes semi-transparent effect form left and right button areas */
.carousel-control {
  opacity: 0;
}

.carousel-caption h1 {
  text-shadow: 0;
  padding-bottom: 20%;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%; /* Fixes the width issue for very large screens */
}

@media (min-width: 600px) {

  .carousel-caption h1 {
    font-size: 7vw;
  }
}

@media (min-width: 1000px) {

  .carousel-inner {
    height: 550px;
  }

  .carousel-caption h1 {
    /* font-size: 9vw; */
    padding-bottom: 50%;
  }
}

@media (min-width: 1900px) {

  .carousel-caption h1 {
    /* font-size: 9vw; */
     padding-bottom: 60%;
  }
}

/*============ 5.2.WORK ==============*/
#work {
  padding-top: 2%;
}

#work h1 {
  margin-top: 3%;
  margin-bottom: 0%;
}

.most-recent-work-header h3{
  text-align: center;
  padding-top: 6%;
  padding-bottom: 2.5%;
  margin:auto;
}

.other-work-header h3 {
  text-align: center;
  padding-top: 6%;
  padding-bottom: 2.5%;
  margin:auto;
}

.most-recent-work-image img {
  align: center;
  margin: auto;
  padding: 10%
}

#other-work img {
  padding: 10% 20%;
  margin: auto;
}

.work-img {
  display: block; /* center the element with margin */
  margin: auto; /* center the image inside the column if it's smaller */
  max-width: 200px; /* needs to be set to the width of your image files if they are relatively small */
  position: relative; /* is needed for .info position: absolute to work */
}
.info {
  position: absolute; /* move the text around and not worry about the image */
  top: 15%; /* text 15% away from the top */
  left: 22%;
  color:#fff;
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:0.5em;
  line-height:1.6;
  display: none;
}
.proj-title {
  font-weight:100;

}

/*============ 5.3.ABOUT =============*/
#about-image {
  width: 100%;
}

.col-md-4 h3{
  text-align: center;
}

.about-main-text h3 {
  text-align: center;
}

.col-md-4 p {
  text-align: left;
}

.about-intro-text {
  padding-left:2%;
  padding-right:2%;
}

.about-main-text {
  clear: both;
  padding-top: 1%;
  padding-bottom: 3%;
}

.about-skills-text {
  padding: auto;
}

/*========= 5.4.LEARN MORE ===========*/
.learn-more {
  background-color: white;
}

.learn-more-header h1 {
  float: left;
  text-align: left;
}

.modal-button {
  float: right;
  padding-top: 20px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#modalembed {
  height: 500px;
  width: 100%;
  padding:10px;
}

@media (max-width: 350px) {

  #learn-more h1 {
    clear:left;
    text-align: center;
  }

  .modal-button {
    padding-bottom: 10%;
  }
}

/*
@media (min-width: 351px) {
  .panel-group {
    padding-bottom: 100px;
  }
}

@media (min-width: 860px) {
  .panel-group {
    padding-bottom: 150px;
  }
}

@media (min-width: 1300px) {
  .panel-group {
    padding-bottom: 150px;
  }
}
*/

/*=========== 5.5.CONTACT ============*/
#contact {
  /* background-image: url("../img/contact.jpg"); /*Adding a background image*/
  background-attachment: fixed; /*Giving the background a fixed position makes it not scroll when you scroll*/
  background-size: cover; /*Making the background cover the entire div section*/
  background-repeat: no-repeat; /*Changing the color of the text on top so it is readable*/
  color: white;
  padding-top: 50px; /*Adjusting the padding*/
  height: 25%;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.address {
  display: inline-block;
  float: left;
  padding-bottom: 3%;
  padding-left: 0;
}

.address h3 {
  text-align: left;
}

.address span:hover {
  color: grey;
  text-decoration: none;
  transition: color 400ms;
}

.form {
  display: inline-block;
  float:left;
  padding-bottom: 5%;
  padding-right: 0;
  padding-left: 0;
}

/*
.grayscale-map {
  -webkit-filter: grayscale(100%);
}
*/
#map {
  height: 300px;
  width: 100%;
}

/*=========== 5.6.FOOTER =============*/
footer {
  background-color: white;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 3% 0;
}

footer .footer-left p {
  color:  #8f9296;
  font-size: 93.8%;
  margin: 0;
}

footer p.footer-links {
  font-size: 118.8%;
  /* color:  #ffffff; */
  margin: 0 0 10px;
  padding: 0;
}

footer p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: gray;
  margin-right: 1%;
}

/* pseudoclass for hover left*/
.footer-links a:hover {
  color: cyan;
  transition: color 400ms;
}

footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-right {
  font-size: 118.8%
}

footer .footer-right a{
  display: inline-block;
  width: 35px; */
  height: 35px; */
  /* background-color:  #33383b; */
  /* border-radius: 2px; */
  font-size: 150%;
  color: #286090;
  text-align: center;
  /* line-height: 35px; */
  /* margin-left: 3px; */
}

.fa {
  font-size: 150%;
}

/* Footer Media Queries */
@media (max-width: 1000px) {

  footer .footer-left,
  footer .footer-right {
    text-align: center;
  }

  footer .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  footer .footer-left p.footer-links {
    line-height: 1.8;
  }
}
